<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css" />

    <script src="/js/script.js" defer></script>
    <title>Mausam</title>
  </head>
  <body>
    <header>
      {{>header}}
          <div class="help about">
      <p>Technologies Used : Node.js, CSS, Javascipt, HTML.</p>
      <p>Libraries/Packages Used : Express.js, postman-request.</p>
      <p>View Engine : handlebars(hbs).</p>
             <a href="https://github.com/vivekrai9638/weather-app">Source codes <i class="fab fa-github"></i></a>
             <a href="https://linkedin.com/in/vivek-kumar-rai-6b274317b">Ping me <i class="fab fa-linkedin"></i></a>
          </div>
      
    </header>

{{>footer}}
  </body>
</html>