* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100vw;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6) 100%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-family: "Bree Serif", serif;
  outline-offset: -1.5rem;
  outline: 0.2rem double #fff;
}

header {
  flex-basis: 80%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  gap: 1rem;
  margin: -5rem 2rem 0;
}
.navbar a {
  text-decoration: none;
  border-bottom: 0.1rem groove;

  color: #fff;
}
header h1 {
  font-size: 7rem;
  margin: -2rem 2rem 0;
}

header form input {
  width: 15rem;
  height: 2.75rem;
  background: #aaa;
  color: black;
  border: 0.1rem solid #666;
  padding: 0.5rem 1rem;
  /* font-size: 1.1rem; */
  font-weight: bolder;
  outline: none;
  font-size: 1rem;
}

header form button {
  padding: 0.5rem 1rem;
  width: 10rem;
  height: 2.75rem;
  background: black;
  color: #ddd;
  cursor: pointer;
  border: 0.1rem solid #666;
  font-size: 1rem;
}
form {
  margin: 0 2rem;
}
.weather {
  padding: 0.75rem 1.25rem;
  margin: 0 1rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgba(119, 136, 153, 0.623);
  border-radius: 6px;
  display: none;
}

.about > * + * {
  margin-top: 0.65rem;
}
.about {
  margin: 0 2rem;
}

.about a {
  color: skyblue;
}

footer {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  flex-basis: 20%;
  color: #fff;
  border-top: 0.1rem solid #aaa;
}
footer p {
  font-size: 0.7rem;
}
footer p span {
  font-size: 0.9rem;
}

::placeholder {
  color: black;
  font-size: 1rem;
}
p {
  letter-spacing: 0.1ch;
}

.author-cont {
  border: 0.1rem solid white;
  display: flex;
}
.author {
  height: 8rem;

  width: 8rem;
  border-radius: 50%;
  overflow: hidden;
  /* position: absolute; */
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

i {
  /* font-size: 1.5rem; */
  color: white;
  background-color: black;
  margin-left: 0.5rem;
}

.help a {
  text-decoration: none;
  margin-right: 2rem;
  margin-top: 2rem;
  color: white;
  display: inline-block;
}

.help {
  margin-top: -3rem;
  margin-left: 2rem;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 70%;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  header {
    justify-content: center;
    gap: 5rem;
    width: 70%;
  }
  footer {
    width: 70%;
  }
  header h1 {
    margin: 0;
    font-size: 6rem;
  }
  header > * {
    margin: 0;
  }
  .navbar {
    margin-left: 0;
  }
  .about {
    margin-left: 0;
  }
  .weather {
    margin-left: 0;
    margin-top: -2rem;
  }
}
